$white:     #fff;
$black:     #878787;
$blue:      #9ECDD6;
$secondary-white: #C4C4C4;
$secondary-blue:#00A9C8;
$secondary-black:#B7B6B6;
$primary-black: #EEEEEE;
$dark:#494848;

$xlg: 1230px;
$lg: 992px;
$md: 768px;
$sm:575px;
