.reviews-block {
    margin-top: 2.5rem;

    @include breakpoint ($sm){
        margin-top: 1.5rem;
    }
}


.review-item__text {
    display: block;
    max-width: 83rem;
    color: $black;

        @include breakpoint ($md){
        font-size: 1.2rem;
    }
}