<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <div class="footer__logo">
                <a href="/" class="logo"><img class="logo__img" src="assets/images/Krokha_logotip1.png" alt=""></a>
            </div>

            <div class="footer__info">
                <p>Руководитель организации: генеральный директор 
                    Давыдова Мария Сергеевна. Юридический адрес 
                    ПАО "Детский Мир" - 119415, город Москва, проспект 
                    Вернадского, 37-3.
                    Организации ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО 
                    "ДЕТСКИЙ МИР" присвоены ИНН 7729355029, 
                    ОГРН 1027700047100, ОКПО 47568073. </p>
            </div>

            <div class="footer__social">
                <div class="social__item">
                    <a href="#" class="social__link" target="blank">
                        <img src="../assets/images/social/instagram.svg" alt="instagram">
                    </a>
                </div>
                <div class="social__item">
                    <a href="#" class="social__link" target="blank">
                        <img src="../assets/images/social/pinterest.svg" alt="pinterest">
                    </a>
                </div>
                <div class="social__item">
                    <a href="#" class="social__link" target="blank">
                        <img src="../assets/images/social/vk.svg" alt="vk">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
