<header class="header">
    <div class="container">
        <div class="header__inner">
            
                <nav class="header__menu">
                    <div class="header__menu-item">
                        <a href="delivery.html" class="menu__link">Оплата и доставка</a>
                        <a href="feedback.html" class="menu__link">Отзывы</a>
                    </div>
                </nav>

                <div class="header__logo">
                    <a href="/" class="logo"><img class="logo__img" src="assets/images/Krokha_logotip1.png" alt=""></a>
                </div>
            
            <div class="header__basket">
                <a href="basket.html" class="basket__link"></a>
            </div>
        </div>
    </div>
</header>
