
<div class="modal" id="modal">
    <div class="modal-content">
        <div class="modal__close">&times;</div>
        <div class="page-block page-block--m">
            <div class="modal-grid">
                <div class="modal-grid__top">
                    <div class="img-wrapper">
                        <img src="assets/images/modal/item.jpg" alt="" class="modal-grid__top-left">
                     </div>
                    <div class="modal-grid__top-right">
                        <h1 class="listing-item__info-title listing-item__info-title--m">Платье с цветочным узором</h1>
                        <div class="listing-item__info-price">599              <span class="rub">Р</span> 
                            <div class="strike">719
                                <span class="rub">Р</span> 
                            </div>
                        </div>
                        <span class="span-line"></span>
                        <select class="product-select" name="product" >
                            <option value="1">Размер 1</option>
                            <option value="2">Размер 2</option>
                            <option value="3">Размер 3</option>
                            <option value="4">Размер 4</option>
                            <option value="5">Размер 5</option>
                            <option value="6">Размер 6</option>
                        </select>
                        <h2 class="discribe-content__item">Описание:
                        </h2>
                        <div class="discribe-content__item">
                            Платье Bossa Nova выполнено 
                            из эластичного супрема. 
                            Детали: застежка на кнопку на спине, завышенная талия, оборка по низу изделия, укороченный рукав.
                            В составе платья 100% хлопок.
                        </div>
                    </div>
                </div>


                <div class="modal-grid__bottom-wrapper">
                    <h2 class="listing-item__info-title listing-item__info-title--m headline-center">Отзывы</h1>
                        <div class="modal-grid__bottom">
                            <div class="modal-grid__bottom-item">
                                <img class="modal-grid__bottom-img" src="assets/images/modal/item-small.png" alt="img">
                            </div>
                            <div class="modal-grid__bottom-item">
                                <img class="modal-grid__bottom-img" src="assets/images/modal/item-small.png" alt="img">
                            </div>
                            <div class="modal-grid__bottom-item">
                                <img class="modal-grid__bottom-img" src="assets/images/modal/item-small.png" alt="img">
                            </div>
                            <div class="modal-grid__bottom-item">
                                <img class="modal-grid__bottom-img" src="assets/images/modal/item-small.png" alt="img">
                            </div>
                        </div> 
                        <h2 class="listing-item__info-title listing-item__info-title--m headline-center--reg">Другие отзывы</h1>
                </div>
            </div>
        </div> 
    </div>
</div>